@import "./../../styles/styles.scss";

.Editor {
  &.row {
    & > .col {
      &:last-child {
        flex-basis: 40%;
      }
    }
  }

  textarea {
    height: 500px;
    resize: none;
  }

  .pauseVideoWhileTyping {
    margin-top: $padding + 10;
    margin-bottom: $padding + 10;
  }
}
