@import './_variables.scss';

button {
    background-color: $primary;
    color: $light-color;
    padding: $padding;
    border: none;
    margin-right: 5px;

    .fas {
        margin-right: 7px;
    }

    &:last-child {
        margin-right: 0;
    }

    &.success {
        background-color: $success;
    }
}