@import "./../../styles/variables";

.PageHeader {
    background-color: $dark-color-bg;
    color: white;
    padding-top: $padding + 20;
    padding-bottom: $padding + 20;

    &.with-tabs {
        padding-bottom: 0;
    }

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.PageContent {
    margin-top: $padding + 20;
}